python-dotenv>=1.2.1
langchain-openai>=0.3.8
langchain-core>=0.3.83
langgraph
openai
pydantic>=2.12.5
common-expression-language>=0.5.6
cel-python>=0.5.0
faker>=25.9.2
markitdown[all]
networkx
pyvis
markdown
xhtml2pdf